@import "../../utilities";
.footer {
  background: #000;
  z-index: 5;
  min-height: $footer-hight-mobile;
  max-height: $footer-hight-mobile;
  @include respond-to(lg) {
    min-height: $footer-hight-desktop;
    max-height: $footer-hight-desktop;
  }

  background: var(--bg-primary);
  color: var(--text-primary);
  box-shadow: 0px 0px 20px -15px var(--text-primary);
  @include flex-center-row;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  &__link {
    margin-left: 1.5rem !important;
    svg {
      width: 2.5rem;
      @include respond-to(md){
        width: 1.8rem;
      }
    }
  }
}
