@import "../../utilities";

.alert {
  z-index: 5;
  border-radius: 5px;
  position: fixed;
  padding: 1.25rem;
  min-width: 80%;
  top: 1px;
  right: 2rem;
  // width: 20rem;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  transition: top 0.5s ease;
  @include font-A;
  @include flex-between-center-row;
  // gap: 1rem;
  &.active {
    top: 5.5rem;
  }

  @include respond-to(lg) {
    min-width: 50%;
    &.active {
      top: 4rem;
    }
  }

  &.SUCCESS {
    @include alert-style-success;
  }
  &.FAILD {
    @include alert-style-err;
  }
  &.INFO {
    @include alert-style-info;
  }
  &.WARNING {
    @include alert-style-warning;
  }

  &__content {
    @include flex-center-row;
    gap: 0.3rem;
    i,
    h6 {
      color: var(--text-primary);
    }
    h6 {
      @include sub-body-size;
      margin-left: 1rem;
    }
    i {
      @include sub-heading-size;
    }
  }
  &__action {
    cursor: pointer;
    margin-left: 1rem;
  }
}
